<div class="container p-0">

  <div class="top-half p-4">
    <div class="d-flex flex-row justify-content-between align-items-center mb-5">
      <img width="250px" src="assets/images/daydreamfloral-black.png">
      <h1>Invoice</h1>
    </div>


    <div class="d-flex flex-row justify-content-between mb-3">
      <!-- From -->
      <div class="max-w-200">
        <strong>Ana Karen Mosco</strong>
        <div>
          <i class="fa fa-regular fa-phone mr-2"></i>
          (626) 353-9374
        </div>
        <div>
          <i class="fa fa-regular fa-envelope mr-2"></i>
          mydaydreamflorals@gmail.com
        </div>

        <div>
          <i class="fa fa-brands fa-instagram mr-2"></i>
          @daydreamflorals
        </div>
      </div>

      <!-- Bill to -->
      <div class="col-4">
        <strong>Bill To:</strong>
        <div class="text-capitalize">{{invoiceContents.billingContactName}}</div>
        <div>{{invoiceContents.billingContactPhone}}</div>
      </div>
    </div>

    <!-- Details -->
    <div class="d-flex flex-row justify-content-between mb-4">
      <table class="table-sm borderless col-4">
        <tbody>
        </tbody>
      </table>


      <table class="table-sm borderless col-4">
        <tbody>
          <tr>
            <th>Invoice #</th>
            <td>{{invoiceContents.invoiceNumber}}</td>
          </tr>
          
          <tr>
            <th>Event Date:</th>
            <td>{{invoiceContents.eventDate}}</td>
          </tr>

          <tr>
            <th>Payment Method:</th>
            <td>{{invoiceContents.paymentMethod}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="lower-half p-4">
    <!-- Services -->
    <h3>Services Rendered</h3>
    <table class="table border">
      <thead>
        <tr>
          <th>Item</th>
          <th>Cost</th>
          <th>Qty.</th>
          <th>Subtotal</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let item of this.invoiceContents.billingItems">
          <tr>
            <td class="text-capitalize">{{item.description}}</td>
            <td *ngIf="item?.cost">${{item.cost| number:'1.2-2' }}</td>
            <td *ngIf="item?.quantity">{{item.quantity}}</td>
            <td *ngIf="item?.subtotal">${{item.subtotal  | number:'1.2-2' }}</td>
            <td *ngIf="item?.discount">{{item.discount}}%</td>
          </tr>
        </ng-container>
      </tbody>

    </table>

    <div class="d-flex justify-content-end">
      <table class="table total-due">
        <thead>
          <tr>
            <th>Total Due</th>
            <th>${{invoiceContents.totalCost | number:'1.2-2' }}</th>
          </tr>
        </thead>
      </table>
    </div>



    <h6>Terms & Conditions/Reservation Agreement:</h6>
    <small>
      CONFIDENTIALITY NOTICE: This communication, including any attachments, may contain confidential and/or legally privileged information.
      It is intended solely for the use of the named recipient(s). If you have received this communication in error, please notify the sender immediately and permanently delete the message from your
      system.
      Unauthorized interception, review, use, or disclosure of this communication is strictly prohibited and may violate applicable laws, including the Electronic Communications Privacy Act.
      <br>
      <br>
      Additionally, the ideas, concepts, designs, and any other intellectual property shared with you during the course of our business relationship are confidential and proprietary. You agree not to
      disclose, reproduce, or share such information with any third party without our explicit written consent. Any unauthorized use or disclosure may result in legal action.
    </small>
  </div>

</div>